@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Calle 23 N° 662<br />
    2720 - Colón, Buenos Aires<br />
    <abbr title="Phone">Teléfono:</abbr>
    +54 2473-4303369
</address>

<address>
    <strong>Sistemas:</strong>   <a href="mailto:sistemas@pardohogar.com.ar">sistemas@pardohogar.com.ar</a><br />
    <strong>Info:</strong> <a href="mailto:central@pardohogar.com.ar">central@pardohogar.com.ar</a>
</address>